@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Add a Movie";
}

@model IS413_Movie_Web_App_ZS.Models.Add_Movie_Data;

<div>
    <h1>Add a Movie</h1>
    <br />
    <p>Enter in the information you would like to add for a new movie below.</p>
    <br />

    <!--Form where the user will enter in information to be run through the Add_Movie Action in the Home Controller-->
    <form asp-controller="Home" asp-action="Add_Movie" method="post">
        <div>
            <label asp-for="Movie_Title">Movie Title</label>
            <input asp-for="Movie_Title" />
        </div>
        <div>
            <label asp-for="Category">Category</label>
            <input asp-for="Category" />
        </div>
        <div>
            <label asp-for="Director">Director</label>
            <input asp-for="Director" />
        </div>
        <div>
            <label asp-for="Rating">Rating</label>
            <select asp-for="Rating">
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
                <option value="TV-PG">TV-PG</option>
                <option value="TV-14">TV-14</option>
                <option value="TV-Y7">TV-Y7</option>
                <option value="NR">NR</option>
                <option value="UR">UR</option>

            </select>
        </div>
        <div>
            <label asp-for="Year">Year</label>
            <input asp-for="Year" maxlength="4"/>
        </div>
        <div>
            <label asp-for="Edited">Edited</label>
            <input type="checkbox" asp-for="Edited" />
        </div>
        <div>
            <label asp-for="Lent_To">Lent To</label>
            <input asp-for="Lent_To" />
        </div>
        <div>
            <label asp-for="Notes">Notes</label>
            <input type="text" asp-for="Notes" />
        </div>

        <button type="submit">Add the Movie</button>
    </form>

    <!--Show any errors here-->
    <div asp-validation-summary="All"></div>
</div>