@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IS413_Movie_Web_App_ZS.Models.Add_Movie_Data
    
}
<div class="text-center">
    <!--Logic to process whether the entered movie is independence day or not-->
    @if (Model.Movie_Title.ToUpper() == "INDEPENDENCE DAY")
    {
        <h2>Sorry, the movie @Model.Movie_Title is not allowed.</h2>
        <p>Rocky IV is definitely a more American movie than @Model.Movie_Title!</p>
    }
    else
    {
        <h1>Success</h1>
        <h2>Thank you for modifying <b>@Model.Movie_Title</b> in the collection</h2>
    }
</div>

<!--Link to the Movie Collection Page-->
<div>
    Click <a asp-action="My_Movies">Movie Collection</a>
</div>