@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--Just some text and an image of Joel Hilton-->
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/img/JoelHilton.jpg" alt="Image of Joel Hilton" />
</div>
