@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Click below for podcasts!</h1>

<!--Just a link to the podcast website-->
<a class="nav-link" href="https://baconsale.com/" style="color:blue">My Podcasts</a>